<p id="notice"><%= notice %></p>

<h1>List of all users</h1>

<% @users.each do |user| %>
  <%= user.display_user %>
  <%= link_to 'Show', user %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </br>
<% end %>
<br>

<%= link_to 'See logs', logs_path %>
</br>
<%= link_to 'New User', new_user_path %>
